---
import DocsLayout from "@layouts/DocsLayout.astro";
---
<DocsLayout title="Quickshell Docs" description="Quickshell Documentation">
  <h2>Docs</h2>
  <div class="root-nav">
    <h3><a href="/docs/configuration">Configuration</a></h3>
    <h3><a href="/docs/types">Type Definitions</a></h3>
  </div>
</DocsLayout>
