@property --percent {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --percent-nav-root_transparent {
  syntax: "<percentage>";
  initial-value: 35%;
  inherits: false;
}

@property --percent-nav-root_filled {
  syntax: "<percentage>";
  initial-value: 65%;
  inherits: false;
}

@keyframes pulseGreen {
  0% {
    background-color: hsl(var(--blue) 85% 35% / 0.1);
    color: hsl(var(--blue) 100% 69% / 1);
  }

  50% {
    background-color: hsl(var(--green) 85% 35% / 0.5);
    color: hsl(var(--green) 100% 69% / 1);
  }

  100% {
    background-color: hsl(var(--blue) 85% 35% / 0.1);
    color: hsl(var(--blue) 100% 69% / 1);
  }
}

@keyframes slideDown {
  from {
    opacity: 0.001;
    height: 0;
  }

  to {
    opacity: 1;
    height: var(--height);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--height);
  }

  to {
    opacity: 0;
    height: 0;
  }
}

@keyframes percentToFifty {
  from {
    --percent: 0%;
  }

  to {
    --percent: 50%;
  }
}

@keyframes percentToZero {
  from {
    --percent: 50%;
  }

  to {
    --percent: 0%;
  }
}

@keyframes percent35To25 {
  from {
    --percent-nav-root_transparent: 35%;
  }

  to {
    --percent-nav-root_transparent: 25%;
  }
}

@keyframes percent25To35 {
  from {
    --percent-nav-root_transparent: 25%;
  }

  to {
    --percent-nav-root_transparent: 35%;
  }
}

@keyframes percent65To75 {
  from {
    --percent-nav-root_filled: 65%;
  }

  to {
    --percent-nav-root_filled: 75%;
  }
}

@keyframes percent75To65 {
  from {
    --percent-nav-root_filled: 75%;
  }

  to {
    --percent-nav-root_filled: 65%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade {
  0% {
    transform: scale(0.75);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

:root {
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;
}
