html {
  font-family:
    "Rubik Variable", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  line-height: 1.272;
  font-weight: 400;

  height: 100svh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  transition: all 0.3s var(--ease-in-out);
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
