.marquee-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--xl);
  font-size: var(--lg);
  font-weight: 600;
  margin-inline: var(--sm);
}

.marquee-button {
  all: unset;
  position: relative;
  color: hsl(var(--accent-400));

  &::before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 2px;
    right: 2px;
    height: 3px;
    background-color: hsla(var(--accent-400) / 0.3);
    z-index: -1;
  }
}

.marquee {
  position: relative;
  display: flex;
  width: 100%;
  margin-block: var(--lg);
  justify-content: space-between;
  align-items: center;
  scroll-snap-type: x mandatory;
}

.marquee-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.marquee-item {
  position: relative;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.3s var(--ease-in-out);
  left: var(--scroll);
  gap: var(--md);
  padding-inline: 0.5rem;

  & > * {
    z-index: 11;
  }

  & video {
    position: relative;
    max-width: 75rem;

    box-shadow: var(--shadow-md);
  }
}

.marquee-item-spacing {
  width: 100%;
}

.marquee-item-content {
  border-radius: var(--radius-sm);
}

.marquee-scroll {
  position: absolute;
  width: 100%;
  max-width: 85rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  transition:
    background-color 0.3s,
    opacity 0.3s;
  z-index: 20;
  user-select: none;
  align-items: stretch;
  pointer-events: none;
  padding-inline: 1rem;
}

.marquee-scroll-arrow {
  max-width: 8rem;
  font-size: 2rem;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > div {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(var(--2xs));
  }

  &:hover {
    cursor: pointer;

    & > div {
      opacity: 0.9;
    }
  }
}

.marquee-arrow-spacing {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media not (min-width: 40rem) {
  .marquee-item-spacing {
    width: 100%;
    align-items: center;
  }

  .marquee-scroll-arrow {
    height: unset;
  }
}

/* nasty mismatch w/ not but matches main-page.css */
@media (min-width: 63rem) {
  .marquee-item {
    padding-inline: 1.5rem;
  }
}

@media not (min-width: 83rem) {
  .marquee-scroll-arrow {
    height: unset;

    & > div {
      background-color: #55555580;
      border-radius: var(--radius-xs);
    }
  }

  .marquee-scroll {
    width: 92%;
    left: 4%;
  }
}
