# build output
dist/
/result

# generated types
.astro/

# dependencies
node_modules/
.yarn/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE folders
.idea/
.vscode/

# direnv
/.envrc
/.direnv/

modules/
modules_old/

# env
.env*
