@import "./nav-tree.css";
@import "./search.css";

.nav-wrapper {
  display: none;
}

.nav-toggle {
  position: unset;
  height: 24px;
  font-size: 1.614rem;
  overflow-y: scroll;
  max-height: 500px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  --width: 25rem;

  &::-webkit-scrollbar {
    display: none;
  }

  & div {
    height: max-content;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  & .nav-items {
    position: absolute;
    z-index: 11;
    overflow: hidden;
    top: 2.6rem;
    left: -1rem;
    width: 0;
    height: calc(100svh - 2.5rem);
    font-size: 1rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    transition:
      width 0.3s ease,
      height 0.3s ease,
      background-color 0.3s ease,
      backdrop-filter 0.3s ease,
      padding 0.3s ease;

    &.shown {
      width: var(--width);
      background-color: hsl(var(--bg-900) / 0.6);
      backdrop-filter: blur(3px) saturate(180%);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .navtree {
      padding: 1rem;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      margin-bottom: 4rem;
      padding-left: 1rem;
      text-wrap: nowrap;

      & [data-part="item-trigger"] {
        max-width: 90%;
      }

      & [data-part="item"] {
        margin-left: unset;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-right: 0;

        & [data-part="item-content"] {
          & [data-part="item-trigger"] {
            margin-left: 1em;

            & p {
              text-align: left;
            }
          }

          & [data-part="item-content"] {
            max-width: 80%;
            margin-left: 3.33em;

            & > div {
              display: grid;

              & a {
                display: grid;
                justify-items: start;
                align-items: center;
                min-height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 40rem) {
  .nav-toggle {
    --width: 100svw;

    & svg {
      height: max-content;
      width: 100%;
    }

    & .navtree {
      & [data-part="item-trigger"] {
        min-height: 3em;
      }

      & [data-part="item-content"] > div {
        min-height: 4em;
      }
    }
  }
}

@media (min-width: 85rem) {
  .nav-wrapper-mobile {
    display: none;
  }

  .nav-wrapper {
    display: block;
    width: 21rem;
    position: sticky;
    top: 4rem;
    flex-shrink: 0;
    overflow: scroll;
    max-height: calc(100svh - 8rem);
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 10;
  }

  .navtree {
    width: 100%;
    z-index: 1;
  }
}
