@import "remark-github-blockquote-alert/alert.css";
@import "./css-config/base.css";
@import "./css-config/animations.css";
@import "./css-config/code.css";
@import "./css-config/colors.css";

@import "./main-page.css";

@import "./docs/nav/nav.css";
@import "./docs/toc/toc.css";
@import "./docs/docs.css";
@import "./docs/collapsible.css";

.changing-theme * {
  transition: none !important;
}

/* color styling */
.header {
  background-color: hsl(var(--bg-400));
  box-shadow: 0 3px 3px 3px hsla(var(--white) 100 0 / 0.1);
}

.baselayout,
.docslayout {
  background-color: hsl(var(--bg-500));
  color: hsl(var(--secondary-900));
}

a {
  color: hsl(var(--link));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

html.dark {
  & .header {
    background-color: hsl(var(--secondary-900));
    color: hsl(var(--secondary-500));
  }

  & .baselayout,
  .docslayout {
    background-color: hsl(var(--bg-900));
    color: hsl(var(--secondary-400));
  }
}

/* layout and positioning */
.unset {
  all: unset;
}

[id] {
  /*offset for header*/
  scroll-margin-top: 4rem;
}

body {
  overflow: auto;
}

body.overflow-nav,
body.overflow-toc {
  overflow: hidden;
}

.search {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-title {
  display: block;
  font-size: 1.614em;
  font-weight: 700;
  line-height: 1.272;
}

.header-title.mobile {
  display: block;
}

.header-item {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
}

.header-right {
  justify-content: flex-end;
}

.header-spacer {
  height: 1.5rem;
  width: 2px;
  background-color: hsla(var(--white) 40 50 / 0.3);
  display: block;
}

.theme-toggle {
  height: 24px;
  font-size: 1.614rem;

  &:hover {
    cursor: pointer;
  }
}

footer {
  position: relative;
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  background: hsl(var(--footer-bkg));

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    height: 1px;
    width: calc(100% + 1rem);
    background: linear-gradient(90deg,
        transparent 0%,
        hsl(var(--footer-bkg-border)) 50%,
        transparent 100%);
  }

  & a {
    color: hsl(var(--text-dark));
    transition: color 0.3s ease;

    & .hint {
      transition: color 0.3s ease;
    }

    &:nth-child(2) .hint {
      color: hsl(var(--green) 30 45);
    }

    &:nth-child(3) .hint {
      color: hsl(var(--blue) 30 45);
    }

    &:hover {
      color: hsl(var(--text));

      &:nth-child(2) .hint {
        color: hsl(var(--green) 60 60);
      }

      &:nth-child(3) .hint {
        color: hsl(var(--blue) 60 66);
      }
    }
  }

  & .credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    color: hsl(var(--text-dark));

    & > p {
      margin-bottom: 0.2rem;
      color: hsl(0 0 40);
    }

    & > a {
      text-decoration: none;
    }
  }

  & .links {
    justify-self: flex-end;
  }

  & .socials {
    display: flex;
    gap: 0.373rem;
    align-items: flex-start;
    font-size: 2.5rem;

    & a {
      display: flex;
    }
  }
}

@media not (min-width: 40rem) {
  footer .credits > a {
    padding: 0.2rem;
  }
}

@media (min-width: 40rem) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 65rem) {
  .toc-collapsed-spacer {
    display: none;
  }
}

@media (min-width: 85rem) {
  .nav-collapsed-spacer {
    display: none;
  }
}
