@import "remark-github-blockquote-alert/alert.css";
@import "./css-config/base.css";
@import "./css-config/animations.css";
@import "./css-config/code.css";
@import "./css-config/colors.css";

@import "./main-page.css";

@import "./docs/nav/nav.css";
@import "./docs/toc/toc.css";
@import "./docs/docs.css";
@import "./docs/collapsible.css";

/* color styling */
.header {
  background-color: hsl(var(--bg-400));
  box-shadow: 0 3px 3px 3px hsla(var(--white) 100 0 / 0.1);
}

.baselayout,
.docslayout {
  background-color: hsl(var(--bg-500));
  color: hsl(var(--secondary-900));
}

a {
  color: hsla(var(--accent-600));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

html.dark {
  & .header {
    background-color: hsl(var(--secondary-900));
    color: hsl(var(--secondary-500));
  }

  & .baselayout,
  .docslayout {
    background-color: hsl(var(--bg-900));
    color: hsl(var(--secondary-400));
  }

  & a {
    color: hsl(var(--accent-500));
  }
}

/* layout and positioning */
.unset {
  all: unset;
}

.search {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.header-title {
  display: none;
  font-size: 1.614em;
  font-weight: 700;
  line-height: 1.272;
}

.header-title.mobile {
  display: block;
}

.header-item {
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 1;
  align-items: center;
}

.header-left {
  justify-content: flex-start;
  padding-left: 1rem;
}

.header-right {
  justify-content: flex-end;
  padding-right: 1rem;
}

.spacer-mobile {
  font-size: 1.374rem;
  color: hsla(var(--white) 40 50 / 0.3);
}

.theme-toggle {
  height: 24px;
  font-size: 1.614rem;

  &:hover {
    cursor: pointer;
  }
}

footer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 3.5rem;
  font-size: min(1.112rem, max(1svw, 0.8rem));
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  background: linear-gradient(150deg,
      hsla(var(--blue) 60 5 / 1) 10%,
      hsla(var(--blue) 75 6 / 1) 25%,
      hsla(var(--blue) 80 8 / 1) 55%,
      hsla(var(--blue) 77 7 / 1) 80%);

  & ._credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.127rem;
    color: hsl(var(--blue) 10 55);

    & a {
      all: unset;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    & em {
      all: unset;
    }

    & span:first-child {
      & em {
        color: hsl(var(--green) 44 60);
      }
    }

    & span:last-child {
      & em {
        color: hsl(var(--blue) 44 60);
      }
    }
  }

  & ._socials {
    height: 100%;
    width: max-content;
    display: flex;
    gap: 0.373rem;
    justify-content: center;
    align-items: center;

    & span {
      font-size: 2rem;

      & a {
        all: unset;
        display: flex;
        height: 100%;
        width: 100%;
        justify-self: center;
        align-self: center;
      }
    }
  }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  .header-title {
    display: block;
  }

  .header-title.mobile {
    display: none;
  }

  .menu-toggle,
  .spacer-mobile {
    display: none;
  }

  .search {
    display: block;
  }

  .spacer-desktop {
    display: block;
    font-size: 1.374rem;
    color: hsla(var(--white) 40 50 / 0.3);
  }
}

/* @media (min-width: 1280px) {} */
