.main-page-banner {
  width: 100%;
  text-align: center;
  background-color: hsl(var(--green) 48% 40%);
  color: white;
  padding: 0.5rem 0;
}

.main-page_hero {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & .navy {
    color: hsl(var(--blue) 66% 60%);
  }

  & .green {
    color: hsl(var(--accent-400));
  }
}

.titlebox {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;

  & img {
    height: 3.4rem;
  }

  & h1 {
    font-size: 3.618rem;
    margin-left: 1rem;
  }
}

h1.gradient-text {
  background: linear-gradient(30deg,
      hsl(var(--green) 80% 42%),
      hsl(var(--blue) 80% 49%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.dark h1.gradient-text {
  background: linear-gradient(30deg, #42b96b, #4281b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-page_hero-text {
  color: hsl(var(--secondary-400));
  text-align: center;
  text-wrap: balance;
  margin-block: 0.618rem;

  & h2 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
    margin-bottom: 0.117rem;
    color: hsl(var(--blue) 40% 33%);
  }
}

html.dark .main-page_hero-text {
  & h2 {
    color: hsl(var(--blue) 100% 83%);
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-inline: 0.5rem;
  gap: 0.5rem;
}

.about-txt {
  font-size: 1.1rem;
}

.about-break {
  display: none;
}

.about-buttons {
  display: flex;
  gap: 0.5rem;
  min-width: 15rem;
}

.main-page_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 0.5rem;
}

.main-page_links_set {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.main-page_link-card {
  all: unset;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.67rem;
  border-radius: var(--radius-sm);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    border-color 0.3s;

  background-color: hsl(var(--green) 38% 30%);
  color: hsl(194deg 0% 100%);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: hsl(var(--green) 48% 40%);
    box-shadow:
      var(--shadow-md-units-1) hsla(var(--green) 48 45 / 0.08),
      var(--shadow-md-units-2) hsla(var(--green) 48 45 / 0.11),
      var(--shadow-md-units-3) hsla(var(--green) 48 45 / 0.4);
  }

  &.main-page_bluecard {
    background-color: hsl(var(--blue) 38% 30%);

    &:hover {
      background-color: hsl(var(--blue) 48% 40%);
      box-shadow:
        var(--shadow-md-units-1) hsla(var(--blue) 48 45 / 0.08),
        var(--shadow-md-units-2) hsla(var(--blue) 48 45 / 0.11),
        var(--shadow-md-units-3) hsla(var(--blue) 48 45 / 0.4);
    }
  }

  & h3 {
    z-index: 2;
  }
}

html.dark .main-page_link-card {
  background-color: hsl(var(--green) 38% 25%);
  color: hsl(194deg 0% 100%);

  &:hover {
    background-color: hsl(var(--green) 48% 35%);
  }

  &.main-page_bluecard {
    background-color: hsl(var(--blue) 38% 25%);

    &:hover {
      background-color: hsl(var(--blue) 48% 35%);
    }
  }
}

.baselayout footer {
  bottom: 0;
}

.frontpage-footer {
  padding-inline: 0.75rem;
}

@media (min-width: 40rem) {
  .titlebox {
    & img {
      height: 4.4rem;
    }

    & h1 {
      font-size: 4.618rem;
      margin-left: 1rem;
    }
  }

  .main-page_links_set {
    flex-wrap: nowrap;
  }

  .about-buttons {
    flex-direction: row;
  }
}

@media (min-width: 63rem) {
  .frontpage-footer {
    padding-inline: 1.5rem;
  }

  .main-page_links {
    flex-wrap: nowrap;
    max-width: 78rem;
    padding-inline: 1.5rem;
  }

  .about {
    flex-wrap: nowrap;
    max-width: 78rem;
    padding-inline: 1.5rem;
    flex-direction: row;
  }

  .about-txt {
    max-width: 70%;
  }

  .about-break {
    display: unset;
  }

  .about-buttons {
    flex-direction: column;
  }
}
