.main-page_hero {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  & h1 {
    position: relative;
    font-size: 4.618rem;
    margin-top: 1rem;
  }

  & .navy {
    color: hsl(var(--blue) 66% 60%);
  }

  & .green {
    color: hsl(var(--accent-400));
  }
}

h1.gradient-text {
  background: linear-gradient(
    30deg,
    hsl(var(--green) 80% 42%),
    hsl(var(--blue) 80% 49%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html.dark h1.gradient-text {
  background: linear-gradient(
    30deg,
    hsl(var(--green) 100% 62%),
    hsl(var(--blue) 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-page_hero-text {
  color: hsl(var(--secondary-400));
  text-align: center;
  text-wrap: balance;
  margin-block: 0.618rem;

  & h2 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.018rem;
    margin-bottom: 0.117rem;
    color: hsl(var(--blue) 40% 33%);
  }
}

html.dark .main-page_hero-text {
  & h2 {
    color: hsl(var(--blue) 100% 83%);
  }
}

.main-page_links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 0;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 0.5rem;
}

.main-page_links_set {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.main-page_link-card {
  all: unset;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.67rem;
  border-radius: 9px;
  overflow: hidden;
  border: 1px solid hsl(var(--green) 10% 10%);
  transition:
    background-color 0.3s,
    border-color 0.3s;

  background-color: hsl(var(--green) 38% 30%);
  color: hsl(194deg 0% 100%);

  &:hover {
    cursor: pointer;
    text-decoration: none;
    border-color: hsl(var(--green) 20% 20%);
    background-color: hsl(var(--green) 48% 40%);
  }

  &.main-page_bluecard {
    border-color: hsl(var(--blue) 10% 10%);
    background-color: hsl(var(--blue) 38% 30%);

    &:hover {
      border-color: hsl(var(--blue) 20% 20%);
      background-color: hsl(var(--blue) 48% 40%);
    }
  }

  & h3 {
    z-index: 2;
  }
}

/*html.dark .main-page_link-card {
  background-color: transparent;
  border-color: transparent;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    filter: blur(1.5rem) saturate(150%);
    transition: filter 0.3s;
    z-index: 1;
  }

  &::before {
    background: linear-gradient(
      115deg,
      hsla(var(--green) 20 15 / 0.7) 25%,
      hsla(var(--green) 25 25 / 0.8) 50%,
      hsla(var(--green) 60 60 / 0.6) 80%
    );
  }

  &:hover {
    &::before {
      filter: blur(0.9rem) saturate(200%);
    }
  }

  &.main-page_bluecard {
    background-color: transparent;
    border-color: transparent;

    &::before {
      background: linear-gradient(
        115deg,
        hsla(var(--blue) 10 15 / 0.7) 25%,
        hsla(var(--blue) 15 25 / 0.8) 50%,
        hsla(var(--blue) 60 60 / 0.6) 80%
      );
    }

    &:hover {
      &::before {
        filter: blur(0.9rem) saturate(200%);
      }
    }
  }
}*/

html.dark .main-page_link-card {
  background-color: hsl(var(--green) 38% 25%);
  color: hsl(194deg 0% 100%);

  &:hover {
    background-color: hsl(var(--green) 48% 35%);
  }

  &.main-page_bluecard {
    background-color: hsl(var(--blue) 38% 25%);

    &:hover {
      background-color: hsl(var(--blue) 48% 35%);
    }
  }
}

.baselayout footer {
  bottom: 0;
}

.frontpage-footer {
  padding-inline: 0.75rem;
}

@media (min-width: 40rem) {
  .main-page_links_set {
    flex-wrap: nowrap;
  }
}

@media (min-width: 63rem) {
  .frontpage-footer {
    padding-inline: 1.5rem;
  }

  .main-page_links {
    flex-wrap: nowrap;
    max-width: 78rem;
    padding-inline: 1.5rem;
  }
}
