---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="Quickshell" description="A fully user customizable desktop shell" image="/quickshell.png">
  <h2>A fully user customizable desktop shell</h2>
  <h3>Based on QtQuick</h3>
  <div class="root-nav">
    <h3><a href="/docs/configuration">Configuration</a></h3>
    <h3><a href="/docs/types">Type Definitions</a></h3>
    <h3><a href="https://git.outfoxxed.me/outfoxxed/quickshell-examples">Examples</a></h3>
    <h3><a href="https://git.outfoxxed.me/outfoxxed/quickshell">Source</a></h3>
  </div>
</BaseLayout>
