---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Quickshell";
---
<BaseLayout title={title} description="A fully user customizable desktop shell" image="/quickshell.png">
  <div class="main-page_hero" data-pagefind-ignore>
    <h1>Quick<em>shell</em></h1>
    <section class="main-page_hero-text">
      <h2>A fully <em class="green">user-customizable</em> desktop <em class="navy">shell</em></h2>
      <h3>Based on <em class="green">QtQuick</em></h3>
    </section>
    <section class="main-page_links">
      <a href="/docs/configuration" class="main-page_link-card">
        <h3>Configuration</h3>
      </a>
      <a href="/docs/types" class="main-page_link-card">
        <h3>Type Definitions</h3>
      </a>
      <a href="https://git.outfoxxed.me/outfoxxed/quickshell-examples" class="main-page_link-card">
        <h3>Examples</h3>
      </a>
      <a href="https://git.outfoxxed.me/outfoxxed/quickshell" class="main-page_link-card">
        <h3>Source</h3>
      </a>
    </section>
  </div>
</BaseLayout>
