---
import Footer from "@src/components/Footer.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Marquee from "@components/marquee/Marquee.astro";
import FeatureList from "@src/components/featurelist/FeatureList.astro";

const title = "Quickshell";
---
<BaseLayout title={title} description="A fully user customizable desktop shell" image="/quickshell.png">
  <div class="main-page_hero" data-pagefind-ignore>
    <h1 class="gradient-text">Quickshell</h1>
    <section class="main-page_hero-text">
      <h2>building blocks for your desktop</h2>
    </section>
    <Marquee/>
    <section class="main-page_links">
      <section class="main-page_links_set">
        <a href="/docs/configuration/getting-started" class="main-page_link-card">
          <h3>Get started</h3>
        </a>
        <a href="/docs/types" class="main-page_link-card">
          <h3>Documentation</h3>
        </a>
      </section>
      <section class="main-page_links_set">
        <a href="https://git.outfoxxed.me/quickshell/quickshell-examples" class="main-page_link-card main-page_bluecard">
          <h3>Examples</h3>
        </a>
        <a href="https://git.outfoxxed.me/quickshell/quickshell" class="main-page_link-card main-page_bluecard">
          <h3>Source Code</h3>
        </a>
      </section>
    </section>
    <section class="featurelist-section">
      <FeatureList/>
    </section>
  </div>
  <Footer class="frontpage-footer"/>
</BaseLayout>
