---
import { Icon } from "astro-icon/components";
import MarqueeContent from "./MarqueeContent.astro";
---
<div class="marquee">
  <div class="marquee-scroll">
    <div id="marquee-scroll-left" class="marquee-scroll-arrow">
      <div><Icon name="caret-left"/></div>
    </div>
    <div id="marquee-scroll-right" class="marquee-scroll-arrow">
      <div><Icon name="caret-right"/></div>
    </div>
  </div>
  <MarqueeContent/>
</div>

<script src="@config/styling/marquee_old.ts"/>
