---
import { processMarkdown } from "@config/io/markdown";

export interface Props {
  markdown?: string;
}

const { markdown } = Astro.props;
const { version } = Astro.params;

const html = markdown ? await processMarkdown(version!, markdown) : null;
---
<section class="typedata-details">
  {html ? <div class="typedata-detailsdata" set:html={html} /> : <em>No details provided</em>}
</section>
