---
import { processMarkdown } from "@config/io/markdown"

export interface Props {
  markdown?: string,
}

const { markdown } = Astro.props;

const html = markdown ? await processMarkdown(markdown) : null;
---
<section class="typedata-details">
  {html ? <div class="typedata-detailsdata" set:html={html} /> : <em>No details provided</em>}
</section>
