---
//import Header from "@components/Header.astro";
import Head from "@config/Head.astro";

interface Props {
  title: string;
  description: string;
  image: string;
}
const { title, description } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <Head description={description} title={title} />
  </head>
  <body class="baselayout">
    <input
      type="checkbox"
      id="theme-manual-toggle"
      class="theme-toggle-input"
      style="display: none;"
      aria-label="Toggle theme (light/dark)"
    >
    <!--<Header />-->
    <slot />
    <script>
      import "@config/styling/animations_helper.ts";
      import "@config/styling/theme_persistence.ts";
    </script>
  </body>
</html>
