---
import DocsLayout from "@layouts/DocsLayout.astro";
import { getModulesData } from "@config/io/generateTypeData";

const modules = await getModulesData();
---
<DocsLayout title="Quickshell Module Listing" description="Quickshell Type Documentation">
  <div class="docs-content">
    <hr/>
    <h2>Module Listing</h2>
    <section>
      <span>All modules included with Quickshell</span>
      <div class="root-nav" data-pagefind-ignore>
        {modules.map(module => (
          <div class="root-nav-entry">
            <a class="root-nav-link" href={`/docs/types/${module.name}`}>
              {module.name}
            </a>
            <span class="root-nav-desc">{module.description}</span>
          </div>)
        )}
      </div>
    </section>
  </div>
</DocsLayout>
