---
import DocsLayout from "@layouts/DocsLayout.astro";
---
<DocsLayout title="Quickshell Type Definitions" description="Quickshell Type Documentation">
  <h2>Type Definitions</h2>
  <div class="root-nav">
  </div>
</DocsLayout>
